<a href="https://colab.research.google.com/github/aiswaryajoseph2004-bot/python/blob/main/python/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(2,100):
  for x in range(2,i):
    if i%x==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
a=[[1,2],[3,4],[5]]
b=[]
for i in a:
  for j in i:
    b.append(j)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,2,3,4,5,6,6]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
x=int(input("num1"))
y=int(input("num2"))
def myfun():
  z=0
  for a in range(1,x+1):
    if x%a==0 and y%a==0:
      z=a
  print(z)
myfun()

num15
num26
1

In [ ]:
a="hello world hello"
b={}
c=a.split()
for i in c:
  if i in b:
     b[i]+=1
  else:
    b[i]=1
print(b)

{'hello': 2, 'world': 1}

In [ ]:
print("anshif")

anshif

In [ ]:
print("aishwarya")

aishwarya

In [ ]:
print(45)

45

In [ ]:
a1=45
print(a1)

45

In [ ]:
payment_per_day=795
days_of_working=26
total_salary=payment_per_day*days_of_working # the * used for multiplication
print(total_salary)

20670

In [ ]:
x,y,z="fruits","markets","computer"
print(x,y,z)

fruits markets computer

In [ ]:
'''jkllkdf
klfjdsf
ljksfdjkl
'''
print(1)

1

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="1234"
print(x,y,z,a,b)

hello python 123 1.23 True 1234

In [ ]:
print(type(y))

<class 'int'>

In [ ]:
print(type(a))

<class 'bool'>

In [ ]:
print(type(z))

<class 'float'>

In [ ]:
x=123
print(x)

123

In [ ]:
print(str(x))

123

In [ ]:
print(float(x))

123.0

In [ ]:
print(round(x))

123

In [ ]:
x=2.56
print(round(x))

3

In [ ]:
x="hello"
y="python"
var=x+y
print(var)
print(type(var))

hellopython
<class 'str'>

In [ ]:
x="13345"
y=12345
z=int(x)
a=z+y
print(a)

25690

#STRING

In [ ]:
x="array"
print(x[4])

y

In [ ]:
x="hello programmer"
print(len(x))

16

In [ ]:
Text="hello,lets start coding"
print("coding"in Text)

True

In [ ]:
x="hello,lets start coding"
print("hello"not in x)

False

In [ ]:
Text=("hello,lets start coding")
print("python"in Text)

False

In [ ]:
x="hello programmer"
print(x[-1])

r

In [ ]:
x="hello,lets start coding"
print(x[0:5])

hello

In [ ]:

voice ="this is an automated voice by siri"
print("hello"not in voice)

True

In [ ]:

xyz="hy my name is python"
print(xyz[6:13])

name is

In [ ]:
word="hello python"
print(word[0:6])

hello

In [ ]:

word="hello python"
print(word[6:])

python

In [ ]:
x="python"
print(x[-1])

n

In [ ]:
b="hello,world!"
print(b[-8:-1])

o,world

In [ ]:
a="my name is aiswarya"
print(a[-8:])

aiswarya

In [ ]:
a="my name is aiswarya"
print(a[-16:-11])

name

In [ ]:
word="hello python"
print(word.upper())

HELLO PYTHON

In [ ]:
word="HELLO PYTHON"
print(word.lower())

hello python

In [ ]:
a="hello,world"
print(a.strip())

hello,world

In [ ]:
a="   python"
print(a.strip())

python

In [ ]:
a="hello,world"
print(a.replace("h","j"))

jello,world

In [ ]:
a="hello,world"
print(a.split(","))

['hello', 'world']

In [ ]:
a="world's,learing,technical "
print(a.split(","))

["world's", 'learing', 'technical ']

In [ ]:
a="my name is aiswarya joseph from thrissur"
print(a.split(" "))

['my', 'name', 'is', 'aiswarya', 'joseph', 'from', 'thrissur']

In [ ]:
age=15
text="my name is aiswarya,and Iam {}"
print(text.format(age))

my name is aiswarya,and Iam 15

In [ ]:
age=15
text="Iam {}years old"
print(text.format(age))

Iam 15years old

In [ ]:
age=12
text="Iam {} years old"
print(text.format(age))

Iam 12 years old

In [ ]:
amount=3212
orderno=4776
quantity=10
myorder="i want {} of my order {} for {} rupees."
print(myorder.format(quantity,orderno,amount))

i want 10 of my order 4776 for 3212 rupees.

In [ ]:
txt="we are the so-called\"vikings\"from the north"
print(txt)

we are the so-called"vikings"from the north

In [ ]:
txt="we are the so-called\vikings\from the north"
print(txt)

we are the so-calledikingsrom the north

In [ ]:
txt="we are the so-called\\vikings\\from the north"
print(txt)

we are the so-called\vikings\from the north

In [ ]:
txt="we are the so-called vikings\nfrom the north"
print(txt)

we are the so-called vikings
from the north

In [ ]:
txt="we are the so-called \n vikings from the north"
print(txt)

we are the so-called
 vikings from the north

In [ ]:
txt="we are the so-called vikings\rfrom the north"
print(txt)

from the north

In [ ]:
txt="we are the\rso-called vikings from the north"
print(txt)

so-called vikings from the north

In [ ]:
txt="we are the so-called vikings\tfrom the north"
print(txt)

we are the so-called vikings	from the north

In [ ]:
txt="we are the\t so-called vikings from the north"
print(txt)

we are the	 so-called vikings from the north

In [ ]:
txt="we are the so-called vikings\bfrom the north"
print(txt)

we are the so-called vikingsfrom the north

In [ ]:
txt="we are the so-called vikings\ffrom the north"
print(txt)

we are the so-called vikingsfrom the north

In [ ]:
print(10==10)

True

In [ ]:
print(12>15)

False

In [ ]:
print(100==10)

False

In [ ]:
print(bool("hello"))

True

In [ ]:
print(bool(100))

True

In [ ]:
bool()

False

In [ ]:
bool(0)

False

In [ ]:
bool(100)

True

In [ ]:
bool({})

False

In [ ]:
a=5
a-=5
print(a)

0

In [ ]:
a=5
a=a-5

In [ ]:
x=100
print(isinstance(x,int))

True

In [ ]:
x=50
print(isinstance(x,int))

True

In [ ]:
x=2.78
print(isinstance(x,int))

False

In [ ]:
x=3
y=5
print(x+y)

8

In [ ]:
x=5
y=6
print(x*y)

30

In [ ]:
x=5
y=6
print(x**y)

15625

In [ ]:
x=5
y=6
print(x/y)

0.8333333333333334

In [ ]:
x=5
y=6
print(x//y)

0

In [ ]:
x=5
y=6
print(x%y)

5

In [ ]:
x=5
x+=5
print(x)

10

In [ ]:
x=5
x-=5
print(x)

0

In [ ]:
x=5
x*=5
print(x)

25

In [ ]:

x=3
x+=3
print(x)

6

In [ ]:
x=3
x*=5
print(x)

15

In [ ]:
x=3
x**=5
print(x)

243

In [ ]:
x=5
x>>=2
print(x)

1

In [ ]:
x=5;y=6
print(x>1 and y<10)

True

In [ ]:
x=5;y=6
print(x>6 or y<10)

True

In [ ]:
x=5
print(not x>1)

False

In [ ]:
x=5;y=6
print(x is y)

False

In [ ]:
x=5;y=6
print(x is not y)

True

In [ ]:
nums= [1,2,3,4,5]
print(3 in nums)

True

In [ ]:
nums= [1,2,3,4,5]
print(3 not in nums)

False

In [ ]:
x=5;y=10
z=x&y
print(z)

0

In [ ]:
x=5;y=10
z=x/y
print(z)

0.5

In [ ]:
x=5;y=10
z=x^y
print(z)

15

# **LIST**

In [ ]:
fruits=["banana","apple","orange"]
print(fruits[2])

orange

In [ ]:
fruits=["banana","apple","orange","kiwi","apple"]
print(fruits[-3])

orange

In [ ]:
fruits=["banana","apple","orange","kiwi","apple"]
print(fruits[1:4])

['apple', 'orange', 'kiwi']

In [ ]:
fruits=["banana","apple","orange","kiwi","apple"]
print(fruits[:3])

['banana', 'apple', 'orange']

In [ ]:
fruits=["banana","apple","orange","kiwi","apple"]
print(fruits[2:])

['orange', 'kiwi', 'apple']

In [ ]:
fruits=["banana","apple","orange"]
fruits[2:]=["watermelone","kiwi"]
print(fruits)

['banana', 'apple', 'watermelone', 'kiwi']

In [ ]:
fruits=["apple","banana","orange"]
fruits[1:2] =['kiwi']
print(fruits)

['apple', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.insert(2,"orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.insert(2,"orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.append("kiwi")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi']

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=["mango","pineapple","papaya"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=("mango","pineapple","papaya")
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.remove("apple")
print(fruits)

['banana', 'cherry']

In [ ]:
fruits=["apple","banana"]
fruits.remove("banana")
print(fruits)

['apple']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop(0)
print(fruits)

['banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
del fruits[2]
print(fruits)

['apple', 'banana']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["apple","banana","cherry"]
myfruits=fruits.copy()
print(myfruits)

['apple', 'banana', 'cherry']

In [ ]:
nums= [5,3,8,6,2]
nums.sort()
print(nums)

[2, 3, 5, 6, 8]

#**TUPLE**

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits)

('apple', 'orange', 'kiwi')

In [ ]:
fruits=("apple","orange","kiwi")
print(len(fruits))

3

In [ ]:
fruits=("apple","orange","kiwi")
print(type(fruits))

<class 'tuple'>

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits[2])

kiwi

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits[-2])

orange

In [ ]:
a=[10,16]
a=[15,20]
a.append(7)
print(a)

[15, 20, 7]

In [ ]:
from typing import Tuple
x=("apple","orange","kiwi")
y=list(x) #y convert into list
y[2]="banana" #change the kiwi into banana
y.append("orange")
x=tuple(y)
print(x)

('apple', 'orange', 'banana', 'orange')

In [ ]:

x=("apple","orange","kiwi")
y=list(x)
y.append("cherry")
x=tuple(y)
print(x)

('apple', 'orange', 'kiwi', 'cherry')

In [ ]:
fruits=("apple","orange","kiwi")
(green,yellow,red)=fruits
print(green)
print(red)

apple
kiwi

In [ ]:
fruits=("apple","orange","kiwi")
(green,yellow,red)=fruits
print(red)

kiwi

In [ ]:
fruits=("apple","orange","kiwi")
(green,yellow,red)=fruits
print(yellow)

orange

In [ ]:
x=("apple","orange","kiwi")
y=list(x)
y[1]="watermelon"
y.insert(3,"banana")
x=tuple(y)
print(x)

('apple', 'watermelon', 'kiwi', 'banana')

In [ ]:
x=("apple","orange","kiwi")
y=list(x)
y[1]="watermelon"
y.remove("kiwi")
x=tuple(y)
print(x)

('apple', 'watermelon')

In [ ]:
x=("apple","orange","kiwi")
y=list(x)
y.remove("kiwi")
x=tuple(y)
print(x)

('apple', 'orange')

In [ ]:
nums=(1,2,3,4,5,6,7,8,9)
y=list(nums)
y[3]=5
x=tuple(y)
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
x=("apple","orange","kiwi")
y=list(x)
y[1]="watermelon"
y.pop(1)
x=tuple(y)
print(x)

('apple', 'kiwi')

# **SET**

In [ ]:
fruits={"apple","banana","cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
mylist=["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'banana', 'kiwi', 'cherry', 'orange', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits2=["kiwi","orange"]
fruits.update(fruits2)
print(fruits)

{'banana', 'kiwi', 'cherry', 'orange', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("apple")
print(fruits)

{'banana', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("apple")
print(fruits)

{'banana', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
fruits={"apple","banana","cherry"}
x=fruits.pop()
print(fruits)

{'banana', 'cherry'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","cherry","apple"}
x.intersection_update(y)
print(x)

{'apple', 'cherry'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z= x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple","banana"}
z=x.intersection(y)
print(z)

{'apple', 'banana'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference(y)
print(x)

{'apple', 'banana', 'cherry'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference(y)
print(x)

{'apple', 'banana', 'cherry'}

In [ ]:
nums=(1,2,3,4,5,6,7,8,9)
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

# **FROZENSET**

In [ ]:
nums=(1,2,3,4,5,6,7,8,9)
fnums=frozenset(nums)
print("frozenset object is :",fnums)

frozenset object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
nums=(1,2,3,4,5,6,7,8,9)
fnums=frozenset(nums)
print("frozenset object is :",fnums)

frozenset object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
fruit={"apple","orange","cherry","banana"}
ffruit=frozenset(fruit)
print("frozenset object is :",fruit)

frozenset object is : {'apple', 'orange', 'banana', 'cherry'}

# **DICTIONARIES**

In [ ]:
cars={"brand":"BMW","model":"2nd series","year":"2004"}
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2004'}

In [ ]:
x=cars.get("model")
print(x)

2nd series

In [ ]:
x=cars.get("brand")
print(x)

BMW

In [ ]:
x=cars.get("year")
print(x)

2004

In [ ]:
x=cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
x=cars.values()
print(x)

dict_values(['BMW', '2nd series', '2004'])

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
x=cars.values()
print(x)

dict_values(['ford', 'mustang', '2005'])

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
x=cars.values()
print(x)

dict_values(['ford', 'mustang', '2005'])

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
cars["color"]="yellow"
print(cars)

{'brand': 'ford', 'model': 'mustang', 'year': '2005', 'color': 'yellow'}

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
x=cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
x=cars.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', '2005')])

In [ ]:
x=cars.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', '2005')])

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
cars["year"]=2024       #this will be new key:value
print(cars)

{'brand': 'ford', 'model': 'mustang', 'year': 2024}

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
cars.update({"year":2020})       #this will be new key:value
print(cars)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
cars.pop("year")
print(cars)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
del cars["brand"]
print(cars)

{'model': 'mustang', 'year': '2005'}

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
del cars["model"]
print(cars)

{'brand': 'ford', 'year': '2005'}

In [ ]:
cars={"brand":"ford","model":"mustang","year":"2005"}
mydict=cars.copy()
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': '2005'}

# **DATETYPE QUESTION **

In [ ]:
#write a program that removes whitespace from the from the following string,then print out the strings with the whitespace removed:
string1="  filet mignon"
s=(string1.strip())
print(s)
string2="Brisket   "
s=(string2.strip())
print(s)
string3="   cheeseburger   "
s=(string3.strip())
print(s)

filet mignon
Brisket
cheeseburger

In [ ]:
#write a program that takes input from the user and display the input in uppercase
string="filet mignon"
print(string.upper())

FILET MIGNON

In [ ]:
#write a program that takes input from the user and displays the number of character in the input
x="hello python"
print(len(x))

12

In [ ]:
#write a program that uses input()twice to get two number from the user, multiplies the number together,and displays the result.if the user enters2and 4 ,then your program should print the following text:output:The product of 2and 4is 8.0
enters1=int(input("Enter a number"))
enters2=int(input("Enter a number"))
txt="The product of {} and {} is {}"
print(txt.format(enters1,enters2,enters1*enters2))

Enter a number44
Enter a number6
The product of 44 and 6 is 264

In [ ]:
#create a float object named weight with the value 0.2 and create a string object named animal with the value "newt".then use these object to print the following string using only string concatenation: output:0.2 kg is the weight of the newt
weight="0.2"
animal="newt"
txt="{} kg is the weight of the {}"
print(txt.format(weight,animal))

0.2 kg is the weight of the newt

In [ ]:
#display the same string using an f string
age =15
txt="my name is aiswarya and i am{}"
print(txt.format(age))

my name is aiswarya and i am15

In [ ]:
#what will the following code output? word='abcdefghij' word[:3]+word[3:]
word='abcdefghij'
word2=word[:3]+word[3:]
print(word2)

abcdefghij

In [ ]:
#How will you remove a duplicate element from a set ? List=[1,2,1,3,4,2]
List=[1,2,1,3,4,2]
set={1,2,1,3,4,2}
print(set)

{1, 2, 3, 4}

In [ ]:
#write a python program to create an intersection of sets
setx=set(["green","blue"])
sety=set(["blue","yellow"])
setx.intersection(sety)
print(setx)

TypeError: 'set' object is not callable

In [ ]:
#write a program to remove all elements from a given set
setx=set(["green","blue"])
setx.clear()
print(setx)

TypeError: 'set' object is not callable

In [ ]:
#write a python script to add a key to a dictionary
SampleDictionary={0:10,1:20}
SampleDictionary[2]=30
print(SampleDictionary)

{0: 10, 1: 20, 2: 30}

In [ ]:
dic={"ks": 10, "hsj": 20, "jks": 30}
dic1=dic.clear()
print(dic1)

None

In [ ]:
#write a python program to concatenate following dictionaries to create a new one
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 600, 'b': 200, 'd': 500}
d3 = {}

# Merge values for common keys and retain unique keys
for i, j in d1.items():
    if i in d2:
        d3[i] = j + d2[i]
    else:
        d3[i] = j

for x, y in d2.items():
    if x not in d1:
        d3[x] = y

print(d3)

{'a': 700, 'b': 400, 'c': 300, 'd': 500}

In [ ]:
#write a python program to unpack a tuple in several variables
fruits=("apple","orange","cherry")
(green,red,yellow)=fruits
print(green)
print(red)
print(yellow)

apple
orange
cherry

In [ ]:
#write a python program to convert a tuple to a string
tup=('p','y','t','h','o','n')
tup1=''.join(tup)
print("converted string:",tup1)

converted string: python

In [ ]:
#write a python program to get the 4th element from the last of a tuple.
A=(1,"a",2,"b",3,"c",4,"d",5,"e",6,"f",7)
print(A[-4])

e

In [ ]:
#write a python program to concatenate following dictionaries to create a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic={**dic1,**dic2,**dic3}
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#create list using following dictionary
d1={'a':100,'b':200,'c':300}
d2={'a':600,'b':400,'d':500}
d=list(d1.values())
print(d)
x=d2.values()
print(x)
d.extend(x)
print(d)

[100, 200, 300]
dict_values([600, 400, 500])
[100, 200, 300, 600, 400, 500]

In [ ]:
#write a python program to find no of pairs in dict
x={'a':5,'b':14,'c':32,'d':35,'e':24,'f':100,'g':57,'h':8,'i':100}
print(len(x))

9

In [ ]:
#write a python program to remove 'o' from a tuple
tup=('p','y','t','h','o','n')
tup1=list(tup)
tup1.remove('o')
tup=tuple(tup1)
print(tup)

('p', 'y', 't', 'h', 'n')

In [ ]:
#using indexing how to remove last 5 element from the list
A=[1,2,3,4,5,6,7,8,9,10]
A[0:5]

[1, 2, 3, 4, 5]

In [ ]:
#read your name from user and print it upper case
a="aiswarya joseph"
print(a.upper())

AISWARYA JOSEPH

In [ ]:
#create the following list and do the program.1)delete p,y,k,10 in list in one line .2)find the index of k using function
A=[1,2,'p','y','k',10,20]
A.remove('p')
A.remove('k')
A.remove('y')
A.remove(10)
print(A)

[1, 2, 20]

In [ ]:
#read the 3 fruits name print in list
A="apple"
B="banana"
C="cherry"
fruits=[A,B,C]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
A=[1,2,'p','y','k',10,20]
A.index("k")

4

In [ ]:
#find the reminder of 50 divided 4 and print the output using f string
A=50
B=4
txt="the reminder is {} when {} divided by {}"
print(txt.format(A%B,A,B))

the reminder is 2 when 50 divided by 4

In [ ]:
#write the python input is [1,2,3] and the output will be [1,2,3,1,2,3]
x=[1,2,3]
x.extend(x)
print(x)

[1, 2, 3, 1, 2, 3]

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a=2
b=330
print("A")if a>b else print("B")

B

}a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are True")

In [ ]:
a=200
b=33
c=500
if a>b or a>c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Nested if

In [ ]:
x=41
if x>10:
  print("above ten,")
  if x>20:
    print("and also above 20!")
else:
  print("but not above 20.")

above ten,
and also above 20!

In [ ]:
a=int(input("mark: "))
if a>=90:
  print("A+")
elif a>=80:
  print("A")
elif a>=70:
  print("B+")
elif a>=60:
  print("C+")
else:
  print("fail")

mark: 50
fail

Check if a number is positive, negative, or zero.

In [ ]:
a=int(input("value "))
if a>=1:
  print("positive")
elif a==0:
  print("zero")
else:
  print("negative")

value 5
positive

Check if a number is even or odd.

In [ ]:
a=int(input("number "))
if a%2==1:
  print("odd")
else:
  print("even")

number 5
odd

Check if a number is divisible by 5 and 11.

In [ ]:
a=int(input("number: "))
if a%5==0 and a%11==0:
  print("divisible by 5 and 11")
else:
  print("not divisible by 5 and 11")

number: 65
not divisible by 5 and 11

Compare two numbers and determine which is greater.

In [ ]:
a=80
b=100
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")

b is greater than a

Check whether a number lies within a given range (e.g., 1 to 100).

In [ ]:
a=int(input("number"))
if a>=1 or a<=100:
  print("lies within the range")
else:
  print("lies without the range")

number6
lies within the range

Check whether a number is a multiple of 3 or 7.

In [ ]:
a=int(input("number "))
if a%3==0 and a%7==0:
  print("the number is multiple")
else:
  print("the number is not multiple")

number 6
the number is not multiple

Check if a user is eligible to vote (age  18).

In [ ]:
a=int(input("number "))
if a>=18:
  print("eligible to vote")
else:
  print("not eligible to vote")

number 6
not eligible to vote

Find the largest among three numbers.

In [ ]:
a=100
b=80
c=10
if a>b and b>c:
  print("a is greater than b or a is greater than c")
elif b>a and b>c:
  print("b is greater than a or b is greater than c")
else:
  print("c is greater than a or c is greater than b")

a is greater than b or a is greater than c

In [ ]:
mark =51
if mark>50:
  print("passed")
else:
  pass

passed

In [ ]:
a=33
b=200
if b>a:
  pass

# LOOP

### WHILE LOOP

In [ ]:
a=[1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
import random
a=["scissors","paper","stone"]
computerscore=0
playerscore=0
tiescore=0
for x in range(1,6):
  x=random.choice(a)
  y=input("player choose ")
  print(f"computer choose {x}")
  if x=="paper" and y=="stone":
    computerscore=computerscore+1
  elif x=="stone" and y=="scissors":
    computerscore=computerscore+1
  elif x=="scissors" and y=="paper":
    computerscore=computerscore+1
  elif (x=="scissors" and y=="scissors")or (x=="paper"and y=="paper")or (x=="stone" and y=="stone"):
    tiescore=tiescore+1
  elif (x!="paper" or x!="scissors" or x!="stone"):
    print("out of element")
    break
  else:
    playerscore=playerscore+1

print(f"computerscore {computerscore}")
print(f"playerscore {playerscore}")
print(f"tiescore{tiescore}")

player choose
computer choose paper
out of element
computerscore 0
playerscore 0
tiescore0

In [ ]:

l=1
while l<4:
  l+=1
  print(l)

2
3
4

In [ ]:
l=2
while l<4:
  l+=1
  print(l)

3
4

In [ ]:
l=3
while l<4:
  l+=1
  print(l)

4

In [ ]:
l=4
while l>1:
  l-=1
  print(l)

3
2
1

In [ ]:
l=10
while l>4:
  l-=1
  print(l)

9
8
7
6
5
4

In [ ]:
l=0
while l<10:
  if l==7:
    l+=1
    continue
  else:
    l+=1
    print(l)

1
2
3
4
5
6
7
9
10

In [ ]:
  l=0
  while l<10:
    if l==3:
      l+=1
      break
    else:
      l+=1
      print(l)

1
2
3

In [ ]:
a='loop in python'
i=0
while i<len(a):
  i+=1
  pass
print('value of i:',i)

value of i: 14

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='e'or a[i]=='p':
    i+=1
    continue
  print('current Letter:',a[i])
  i+=1

current Letter: l
current Letter: o
current Letter: o
current Letter: s
current Letter:
current Letter: i
current Letter: n
current Letter:
current Letter: y
current Letter: t
current Letter: h
current Letter: o
current Letter: n

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='t'or a[i]=='M':
    i+=1
    break
  print('current Letter:',a[i])
  i+=1

current Letter: l
current Letter: o
current Letter: o
current Letter: p
current Letter: s
current Letter:
current Letter: i
current Letter: n
current Letter:
current Letter: p
current Letter: y

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  break
else:    #not executed as there is a break
  print("No break")

1

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
else:       #executed because no break
  print("No break /n")

1
2
3
4
No break /n

## FOR LOOP

In [ ]:
l=["hello","for","python"]
for i in l:
  print(i)

hello
for
python

In [ ]:
t=("hello","for","python")
for i in t:
  print(i)

hello
for
python

In [ ]:
d=dict()
d['xyz']=123
d['abc']=345
for i in d:
  print("% s % d"%(i,d[i]))

xyz  123
abc  345

In [ ]:
for x in 'python developer':
  if x=='e'or x=='o':
    continue
print('current Letter:',x)

current Letter: r

In [ ]:
for x in 'python developer':
  if x=='o'or x=='e':
    break
print('current Letter:',x)

current Letter: o

In [ ]:
for x in "python developer":
  pass
print('last letter:',x)

last letter: r

In [ ]:
for i in range (10):
  print(i,end="")
print()

0123456789

In [ ]:
l=[10,20,30,40]
for i in range(len(l)):
  print(l[i],end="")
print()

10203040

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 55

In [ ]:
for i in range(1,4):
  print(i)
else:        #Executed because no break in for
   print("No break\n")

1
2
3
No break

In [ ]:
for i in range (1,4):
  print(i)
  break
else:        #not executed as there is a break
  print("No break")

1

# loop question

In [ ]:
# print the first 10 natural numbers using for loop
x=int(input("number"))
for i in range (0,10+1):
  print(i)

number7
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# python program to print all the even numbers within the given range
x=int(input("number "))
for i in range (0,20+1,2):
  print(i)

number 8
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#python program to calculate the sum of all numbers from 1 to a given number
x=int(input("number"))
sum=1
for i in range (1,20):
  sum=sum+i
print("sum of all number:",sum)

number5
sum of all number: 191

In [ ]:
#python program to calculate the sum of all the odd numbers within given range
x=int(input("number"))
sum=0
for i in range (1,x+1,2):
  sum=sum+i
print("sum of all odd number:",sum)

number8
sum of all odd number: 16

In [ ]:
#python program to print the multiplication table of a given number
for i in range (1,10+1):
   print(i," x 2 = ",2*i)

1  x 2 =  2
2  x 2 =  4
3  x 2 =  6
4  x 2 =  8
5  x 2 =  10
6  x 2 =  12
7  x 2 =  14
8  x 2 =  16
9  x 2 =  18
10  x 2 =  20

In [ ]:
print(1,"x 2 =",2)

1 x 2 = 2

In [ ]:
# python program to display the number from a list using loop
l=(1,2,3,4,5,6,7,8,9,10)
for i in l :
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Python program to count the total number of digits in a number
c="123"
print(len(c))

3

In [ ]:
# Python program to check if the given string is a palindrome
x="malayalam"
y=(x[::-1])
if x ==y:
  print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
# python program that accepts a word from the user and reverses it
word="hello python"
print(word[::-1])

nohtyp olleh

In [ ]:
# Print Even Numbers from 1 to 20
for i in range (2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
#Sum of First 10 Natural Numbers
number=10
sum=0
for i in range(number+1):
  sum=sum+i
print("sum of natural number:",sum)

sum of natural number: 55

In [ ]:
# Check if a Number is Prime
num=int(input("enter the number "))
for i in range(2,num):
  if num%i==0:
    print(" not prime")
    break
else:
  print("prime")

enter the number 6
 not prime

In [ ]:
3# Count Positive and Negative Numbers in a List
pos=0
neg=0
l=[1,-4,6,-7,8,-5,-9]
for i in l:
  if i>0:
    pos=pos+1
  else:
    neg=neg+1
print("positive",pos,"negative",neg)

positive 3 negative 4

In [ ]:
#Find the Maximum in a List
l=[1,23,56,7,45]
le=len(l)
number=l[0]
for i in range(le):
  for j in range(le):
    if l[j]>number:
      number=l[j]
print(number)

56

In [ ]:
3#find the maximum in a list
l=[1,2,526,8,100]
le=len(l)
number=l[0]
for i in range(le):
  if l[i]>number:
     number=l[i]
print(number)

526

In [ ]:
# my name is aiswarya
txt="my name is aiswarya"
word=txt.split(" ")
largest=""
for i in word:
  if len(largest)<len(i):
    largest=i
print("The largest word :",largest)

The largest word : aiswarya

In [ ]:
txt="my name is Aiswarya"
word=txt.split(" ")
smallest="wyrg"
for i in word:
  if len(smallest)>len(i):
    smallest=i
print("The smallest word:",smallest)

The smallest word: my

In [ ]:
a=int(input("Enter the value "))
if (a%4==0 and a%100!=0) or a%400==0:
  print("leap year")
else:
  print("not leap year")

Enter the value 2024
leap year

# **Functions**

function is block of code which when someone calls it.
1. build in functions:
  print(),type(),int(),range()
2. user defined functions:
  "def" keyword is used to create user defined function.

In [ ]:
def aiswarya():
  print("Hello IPCS")

In [ ]:
aiswarya()

Hello IPCS

In [ ]:
def hello():
  print("welcome to ipcs")

In [ ]:
hello()

welcome to ipcs

In [ ]:
# A simple python function
def hello():
  print("welcome to ipcs")
# driver code to call a function
hello()

welcome to ipcs

In [ ]:
def aiswarya(x,y):#x-parameter,argument
  print(y,x)
aiswarya("aiswarya","joseph")

joseph aiswarya

In [ ]:
def hello(x,y):
  print(x,y)
hello("hello","python")

hello python

In [ ]:
def evenorodd(x):
  if (x%2==0):
    print("even")
  else:
    print("odd")
evenorodd(6)
evenorodd(7)

even
odd

In [ ]:
def number(x,y):
  print(x+y)
number(5,6)

11

## **1. Default arguments**

In [ ]:
def myfun(x="angel"):#default argument is x.if argument passed default value is selected.
  print("hi ",x)
myfun()

hi  angel

In [ ]:
def myfun(x="angel"):
  print("hi ",x)
myfun("aiswarya")

hi  aiswarya

In [ ]:
def myfun(x="angel"):
  print("hello",x)
myfun()

hello angel

In [ ]:
def myfun(x="angel"):
  print("hello",x)
myfun("aiswarya")

hello aiswarya

In [ ]:
def myfun(x,y=50):
  print("x",x)
  print("y",y)
myfun(10)

x 10
y 50

## **2.keyword argument**

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)
student(firstname='python',lastname='functions')
student(lastname='hello',firstname='programmers')

python functions
programmers hello

## **3.Arbitary arguments**

In [ ]:
def myfun(*x):
  for i in x:
    print(i)
myfun(1,2,3,4,5,6)

1
2
3
4
5
6

In [ ]:
def myfun(*kids):
  print("the youngest child is "+ kids[2])
myfun("emil","tobias","linus")

the youngest child is linus

In [ ]:
def myfun(*argv):
  for x in argv:
    print(x)
myfun('hello','welcome','to','ipcs')

hello
welcome
to
ipcs

## **4.Arbitary keyword arguments**

In [ ]:
def myfun(**x):
  print(x)
  for k,v in x.items():
    print(k,"=",v)
myfun(a=1,b=2,c=3,d=4,e=5,f=6)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
a = 1
b = 2
c = 3
d = 4
e = 5
f = 6

In [ ]:
def myfun(**student):
  print("His first name is "+student["fname"])
myfun(fname="vignesh",lname="s")

His first name is vignesh

In [ ]:
def myfun(**kwargs):
  for key,value in kwargs.items():
    print("%s==%s"%(key,value))
myfun(first='welcome',mid='for',last='course')

first==welcome
mid==for
last==course

In [ ]:
def myfun(country="norway"):
  print("I am from "+country)
myfun("sweden")
myfun("india")
myfun()
myfun("brazil")

I am from sweden
I am from india
I am from norway
I am from brazil

In [ ]:
def myfun(xyz):
  for x in xyz:
    print(x)
fruits=["apple","banana","cherry"]
myfun(fruits)

apple
banana
cherry

**Return values**

In [ ]:
def square_value(num):
  return num**2
print(square_value(2))
print(square_value(-4))

4
16

In [ ]:
def myfun(x):
  x[0]=30
lst =[9,11,13,14,15]
myfun(lst)
print(lst)

[30, 11, 13, 14, 15]

## **Function within functions**

In [ ]:
def f1():
  s='I love python'
  def f2():
    print(s)
  f2()

In [ ]:
f1()

I love python

In [ ]:
def f1():
  s='hello python'
  def f2():
    print(s)
  f2()
f1()

hello python

## **Lambda**

In [ ]:
string='hello python'
print(lambda string:string)

<function <lambda> at 0x7e79531cdd00>

In [ ]:
x="hello python"
(lambda x:print(x))(x)

hello python

In [ ]:
def myfun(num):
  x=str(num)
  l=len(x)
  total=0
  for i in x:
    total=total+int(i)**l
  return total
num=int(input("enter the number"))
total=myfun(num)
if num==total:
  print("armstrong number")
else:
  print("not armstrong")

enter the number5
armstrong number

In [ ]:
def cube(y):
  return y*y*y;
g=lambda x:x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
def power(n):
          return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 powerof 2 =",base(6))
base=power(5)
print("now power is set to 5")
print("8 powerof 5 =",base(8))

now power is set to 2
6 powerof 2 = 36
now power is set to 5
8 powerof 5 = 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))
maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

**Check if a Number is Even or odd**

In [ ]:
x=int(input("enter the number"))
def evenorodd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")
evenorodd(x)

enter the number

ValueError: invalid literal for int() with base 10: ''

**Check Prime Number**

In [ ]:
x=int(input("enter the number"))
def myfun(x):
  if x%2==1:
    print("prime number")
  else:
    print("not prime number")
myfun(x)

enter the number4
not prime number

**Find Factorial of a Number**

In [ ]:
x=int(input("enter the number"))
def myfun(x):
  fact=1
  for i in range(1,x+1):
    fact=fact*i
  print("factorial of a number:",fact)
myfun(x)

enter the number6
factorial of a number: 720

**Check for Palindrome (String)**

In [ ]:
def palin(x):
  y=(x[::-1])
  if x==y:
    print("palindrome")
  else:
    print("not palindrome")
x="malayalam"
palin(x)

palindrome

**Find Maximum of Three Numbers**

In [ ]:
def max(a,b,c):
  if a>b and b>c:
    print("a is greater than b or b is greater than c ")
  elif b>a and c>b:
    print("b is greater than c or c is greater than a ")
  else:
    print("c is greater than a or c is greater than b")
max(10,15,20)

b is greater than c or c is greater than a

## **Global and Local variables**

In [ ]:
def myfunction():
  print(s)
s="I love python"
myfunction()

I love python

In [ ]:
def myfunction():
  s="me too"
  print(s)
s="i love python"
myfunction()
print(s)

me too
i love python

In [ ]:
a=1
def f():
  print('inside f():',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside h():',a)


print("global:",a)
f()
print("global:",a)
g()
print("global:",a)
h()
print("global:",a)

global: 1
inside f(): 1
global: 1
inside g(): 2
global: 1
inside h(): 3
global: 3

In [ ]:
def shout(text):
  return text.upper()
print(shout("hello"))
yell=shout
print(yell("hello"))

HELLO
HELLO

In [ ]:
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def greet(func):
  greeting=func("""Hi, iam created by a function passed as an argument""")
  print(greeting)

greet(shout)
greet(whisper)

HI, IAM CREATED BY A FUNCTION PASSED AS AN ARGUMENT
hi, iam created by a function passed as an argument

In [ ]:
def create_adder(x):
  def adder (y):
    return x+y
  return adder


add_15=create_adder(15)
print(add_15(10))

25

In [ ]:
def cal_factorial(x):
  if x==1:
    return 1
  else:
    return (x*cal_factorial(x-1))
num=4
print("the factorial of",num,"is",cal_factorial(num))

the factorial of 4 is 24

In [ ]:
def cube(y):
  return y*y*y;
g=lambda x:x*x*x
print(g(7))

print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a:a**n

base=power(2)
print("now power is set to 2")
print("6 powerof 2=",base(6))
base=power(5)
print("now power is set to 5")
print("8 powerof 5=",base(8))

now power is set to 2
6 powerof 2= 36
now power is set to 5
8 powerof 5= 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))


maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

In [ ]:
def myfun(x,y):
  z=x+y
  print(z)
myfun(5,5)

10

In [ ]:
def myfun(x,y):
  z=x*y
  print(z)

myfun(5,5)

25

In [ ]:
def myfun(x):
  if x>=90:
    print("A+")
  elif x>=80:
    print("A")
  elif x>=70:
    print("B+")
  elif x>=60:
    print("B")
  elif x>=50:
    print("C+")
  elif x>=40:
    print("C")
  else:
    print("fail")
myfun(90)

A+

**Write a function that returns the maximum of two numbers.**

In [ ]:
def myfun(x,y):
  if x>y:
    print("x is greater than y")
  else:
    print("y is greater than x")


myfun(50,60)

y is greater than x

**Write a function that counts the vowels in a given string.**

In [ ]:
def myfun(x):
  y="aeiou"
  z=0
  for i in x:
    if i in y:
      z=z+1
  print(z)
myfun("aiswarya")

4

**Write a function to find the factorial of a number**

In [ ]:
def myfun(x):
  fact=1
  for i in range(1,x+1):
    fact=fact*i
  print("factorial of a number:",fact)
myfun(5)

factorial of a number: 120

**write a function to find the sum of the number **

In [ ]:
def myfun(x):
  sum=1
  for i in range(1,x+1):
    sum=sum+i
  print("sum of the number:",sum)
myfun(10)

sum of the number: 56

Numbers Divisible by 3 and 5

In [ ]:
def myfun(x):
  if x%3==0 or x%5==0:
    print("divisible")
  else:
    print("not divisible")
myfun(9)

divisible

Count Digits in a Number

In [ ]:
def myfun(num):
  x=str(num)
  l=len(x)
  print(l)
myfun(123456)

6

Check Armstrong Number

In [ ]:
def myfun(num):
  x=str(num)
  l=len(x)
  total=0
  for i in x:
    total=total+int(i)**l
  return total
num=int(input("enter the number"))
total=myfun(num)
if num==total:
   print("armstrong number")
else:
  print("not armstrong number")

enter the number4
armstrong number

In [ ]:
num=int(input("enter the number"))
x=[12,3,64,10,5]
if num in x:
  print("user point")
else:
  print("system point")

enter the number12
user point

In [ ]:
import random
system=0
user=0
for i in range(1,6):
   a=random.randrange(1,10)
   b=int(input("guess:"))
   if a==b:
      user=user+1
      print("we win")
   else:
    system=system+1
    print("system win")
if system >user:
  print(f"system win,{system}")
else:
  print(f"user win,{user}")

guess:2
system win
guess:2
we win
guess:2
system win
guess:2
system win
guess:2
system win
system win,4

In [ ]:
import random
playerscore=0
computerscore=0
print('rock=r,paper=p,scissors=s')
p='p'
r='r'
s='s'
for x in range(1,6):
  x=random.choice([p,r,s])
  i=input('player choose ')
  print(f'computer choose {x}')
  if x==p and i==r:
    computerscore=computerscore+1
  elif x==r and i==s:
    computerscore=computerscore+1
  elif x==s and i==p:
    computerscore=computerscore+1
  elif (x==p and i==p) or(x==r and i==r) or (x==s and i==s):
    print('no score')
  elif (x!=p or x!=s or x!=r):
    print("out of element")
    break
  else:
    playerscore=playerscore+1
print('----------------------')
print('RESULT')
print('----------------------')
print(f'computer score {computerscore}')
print(f'player score {playerscore}')

rock=r,paper=p,scissors=s
player choose 2
computer choose p
out of element
----------------------
RESULT
----------------------
computer score 0
player score 0

In [ ]:
#3
a=[1,2,2,3,4,5,5]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
#4
for i in range(2,100):
  for x in range(2,i):
    if i%x==0:
      break
  else:
      print(i,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
2#1
x=int(input("num1"))
y=int(input("num2"))
def myfun():
  v=0
  for c in range(1,x+1):
    if x%c==0 and y%c==0:
     v=c
  print(v)
myfun()

num134
num234
34

In [ ]:
#2
a=[[1,2],[3,4],[5]]
b=[]
for i in a:
  for j in i:
    b.append(j)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a="hello world hello"
b={}
m=a.split()
for i in m:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)

{'hello': 2, 'world': 1}

# class and object

In [ ]:
class Phone:              # making phone class

  def make_call(self):      # fuction making  always use self as parameter
    print("let's make a phone call")

  def play_game(self):       # method
      print("Lets's play a game")

In [ ]:
p1=Phone()

In [ ]:
p1.make_call()

let's make a phone call

In [ ]:
p1.play_game()

Lets's play a game

In [ ]:
class Phone:

  def make_call(self):
    print("let's make a phone call")

  def play_game(self):
      print("Lets's play a game")


  def set_color(self,color):  #adding new paramters and  creating new function
    self.color = color

  def set_cost(self,cost):
    self.cost = cost

  def show_color(self):
    return self.color

  def show_cost(self):
    return self.cost

In [ ]:
p2=Phone()

In [ ]:
p2.set_color("red")

In [ ]:
p2.set_cost(15000)

In [ ]:
p2.show_color()

'red'

In [ ]:
p2.show_cost()

15000

In [ ]:
from os import name
class Employee:
  def __init__(self,name,age,salary,gender):
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender

  def employee_details(self):
    print("name of employee is ",self.name)
    print("age of employee is ",self.age)
    print("salary of employee is ",self.salary)
    print("gender of employee is ",self.gender)

In [ ]:
e1=Employee("aiswarya",21, 85000, "female")

In [ ]:
e1.employee_details()

name of employee is  aiswarya
age of employee is  21
salary of employee is  85000
gender of employee is  female

In [ ]:
class character:
  def __init__(self,health,demage,power):
    self.health=health
    self.demage=demage
    self.power=power
ninja=character(100,30,90)
warrior=character(200,40,95)
print("power of ninja:",ninja.power)
print("health of ninja:",ninja.health)

power of ninja: 90
health of ninja: 100

In [ ]:
class character:

  def __init__(self,health,damage,power):
    self.health = health
    self.damage = damage
    self.power = power

  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3
ninja = character(100,30,90)
warrior = character(200,40,95)
print("Power of ninja: ",ninja.power)
print("Power of ninja: ",ninja.health)
ninja.double()
print("After doubling the power")
print("power of ninja: ",ninja.power)
print("damage of ninja:",ninja.damage)

Power of ninja:  90
Power of ninja:  100
After doubling the power
power of ninja:  180
damage of ninja: 90

In [ ]:
class character:

  def __init__(self,name,health,damage,power):
    self.name=name
    self.health = health
    self.damage = damage
    self.power = power

  def hai(self):
    print("Hello I am ",self.name)

  def is_alive(self):
    if self.health <=0:
      print(self.name,"is Dead!")
    else:
      print(self.name,"is alive!")


  def player_details(self):
    print("....."*5)
    print("Name of player is :",self.name)
    print("Health of player is :",self.health)
    print("damage of player is :",self.damage)
    print("power of player is :",self.power)
    print()



ninja = character("Ninja",100,30,90)
warrior = character("Warrior",200,40,95)


ninja.hai()
ninja.health=0
print("Health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

Hello I am  Ninja
Health of ninja: 0
Ninja is Dead!
Warrior is alive!
.........................
Name of player is : Warrior
Health of player is : 200
damage of player is : 40
power of player is : 95

.........................
Name of player is : Ninja
Health of player is : 0
damage of player is : 30
power of player is : 90

In [ ]:
class student:
  school="abc school"

  def __init__(self,name,age,roll_number):
    self.name=name
    self.age=age
    self.roll_number=roll_number
  def details(self):
    print(f"{self.name} is :{self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")
student1=student("anshif",21,3)
student2=student("sinan",20,7)
print(student1.school)
student.school="learn logic AI"
student2.details()

abc school
sinan is :20 year old and studying at :learn logic AI and roll number is : 7

## del operater

In [ ]:
class student:

  school = "abc school"

  def __init__(self,name,age,roll_number):
    self.name = name #instance attributes
    self.age = age
    self.roll_number = roll_number

  def details(self): # method!
    print(f"{self.name} is : {self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,7)
print(student1.school)
del student1.name
print(student1.name) # it will show error

abc school

AttributeError: 'student' object has no attribute 'name'

In [ ]:
class student:

  school = "abc school"

  def __init__(self,name,age,roll_number):
    self.name = name #instance attributes
    self.age = age
    self.roll_number = roll_number

  def details(self): # method!
    print(f"{self.name} is : {self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,7)

print(getattr(student1,"name")) # or print(student1.name)
setattr(student1,"age",23) # or student1.age = 23
print(student1.age)

print(hasattr(student1,"id")) # id attribute cheking

delattr(student1,"age") # for delete attribute

Anshif
23
False

In [ ]:
class dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def bark(self):
    print(f"{self.name} says:bow! bow!")

  def intriduce(self):
    print(f"my name is {self.name} and I am {self.age} years old.")

  def sit(self):
    print(f"{self.name} is now sitting.")

  def fetch(self,item):
    print(f"{self.name} is fetching the {item}!")

dog1=dog("mubashir",21)
dog2=dog("jaseem",19)
dog1.bark()
dog2.bark()
dog1.sit()
dog1.fetch("alpham mandhi")
dog2.fetch("stick")

mubashir says:bow! bow!
jaseem says:bow! bow!
mubashir is now sitting.
mubashir is fetching the alpham mandhi!
jaseem is fetching the stick!

In [ ]:
class cat:
  def __init__(self,name,color):
    self.name=name
    self.color=color

  def details(self):
    print(f"The {self.name} is {self.color} ")

  def meow(self):
    print(f"{self.name} is meowing..")

  def purr(self):
    print(f"{self.name} is purring")

  def scratch(self,item):
    print(f"{self.name} is scratching on {item}")

  def sleep(self):
    print(f"{self.name} is sleeping ")

cat1=cat("kitty","white")
cat2=cat("pachu","black")

cat1.details()
cat2.details()
print()
cat1.meow()
cat2.meow()
print()
cat1.purr()
cat2.purr()
print()
cat1.scratch("sofa")
cat2.scratch("bed")
print()
cat1.sleep()
cat2.sleep()

The kitty is white
The pachu is black

kitty is meowing..
pachu is meowing..

kitty is purring
pachu is purring

kitty is scratching on sofa
pachu is scratching on bed

kitty is sleeping
pachu is sleeping

# Inheritance in oop

## 1. Single inheritance

In [ ]:
class Animal:      #parent class
  def speak(self):
    print("Animal speaking")

class Dog(Animal):     #child class (inheritance)
  def bark(self):
    print("Dog barking")


d=Dog()
d.bark()
d.speak()      #we call class method through child class(inheritance)

a=Animal()
a.speak()
# a.bark() AttributeError:"Animal" object has no attribute "bark" (because the orginal class have no connection with the child behaviour/child method  )

Dog barking
Animal speaking
Animal speaking

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting...")
  def stop(self):
    print("vehicle is stopping...")

class car(vehicle):
  def drive(self):
    print("car is being driven")

my_car=car()
my_car.start()
my_car.drive()
my_car.stop()

vehicle is starting...
car is being driven
vehicle is stopping...

In [ ]:
class fruit:
  def fruitx(self):
    print("apple,orange,kiwi")

class fruit(fruit):
  def fruity(self):
    print("mango,cherry,banana")

my_fruit=fruit()
my_fruit.fruitx()
my_fruit.fruity()

apple,orange,kiwi
mango,cherry,banana

## 2. Multilevel inheritance

In [ ]:
class Animal:
  def speak(self):
    print("Animal speaking")

class dog(Animal):    #child class(inheritance)
  def bark(self):
    print("Dog barking")

class Dogchild(Dog):   #multilevel inhertance
  def eat(self):
    print("Eating bread.....")


d=Dog()
d.bark()
d.speak()
# d.eat() AttributeError:'Dog object has no attribute 'eat'
print()

d1=Dogchild()  #multilevel child have all method
d1.bark()
d1.speak()
d1.eat()

Dog barking
Animal speaking

Dog barking
Animal speaking
Eating bread.....

In [ ]:
class grandfather:
  def speak(self):
    print("grandfather is speaking")

class father(grandfather):
  def sound(self):
    print("father sound")

class daughter(father):
  def face(self):
    print("daughter face ")

f=father()
f.sound()
f.speak()

print()


f1=daughter()
f1.speak()
f1.sound()
f1.face()

father sound
grandfather is speaking

grandfather is speaking
father sound
daughter face

## 3. Hierarchial inheritance

In [ ]:
class shape:          #this is parent class
  def info(self):
    print("shape have dimentions...")

class circle(shape):    #this is child of shape
  def draw(self):
    print("drawing a circle")

class Rectangle(shape):    #this also child of shape
  def draw(self):
    print("drawing a rectangle...")

c=circle()
r=Rectangle()
c.info()
c.draw()
r.info()
r.draw()

shape have dimentions...
drawing a circle
shape have dimentions...
drawing a rectangle...

In [ ]:
class person:
  def introduce(self):
    print("Iam a person...")

class Teacher(person):
  def teach(self):
    print("I teach students..")

class Student(person):
  def study(self):
    print("I study subjects")

teacher=Teacher()
student=Student()

teacher.introduce()
teacher.teach()

print()

student.introduce()
student.study()

Iam a person...
I teach students..

Iam a person...
I study subjects

## 4. Multiple inheritance

In [ ]:
class calculation1:        #parent class
  def summation(self,a,b):
    print(a+b)

class calculation2:       #another parent class
  def multiplication(self,a,b):
    print(a*b)

class Derived(calculation1,calculation2):    #child from that both parent classes
  def divide(self,a,b):
    print(a/b)

d=Derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

# Hybrid inheritance

In [ ]:
class person:
  def show(self):
    print("Iam a person")

class teacher(person):
  def teach(self):
    print("I teach students")

class staff:
  def manage(self):
    print("I manage school activities")

class principal(teacher,staff):
  def oversea(self):
    print("I oversea the entire school")

principal=principal()
principal.show()
principal.teach()
principal.manage()
principal.oversea()

Iam a person
I teach students
I manage school activities
I oversea the entire school

In [ ]:
class person:
  def show(self):
    print("This is person")

class grandfather(person):
  def grandfather(self):
    print("This is the grandfather")


class father(grandfather):
  def father(self):
    print("This is the father")

class mother(person):
  def mother(self):
    print("This is the mother")

class child(father,mother):
  def child(self):
    print("This is the child")

child=child()
child.father()
child.mother()
child.grandfather()
child.show()

This is the father
This is the mother
This is the grandfather
This is person

In [ ]:
class father:
  def skills(self):
    print("Gardening")

class mother:
  def skills(self):
    print("cooking")

class child(father,mother):
  def my_skills(self):
    print("painting")


c=child()
c.skills()
c.my_skills()

Gardening
painting

In [ ]:
class parent:
  def house(self):
    print("parents house")

class son(parent):
  def bike(self):
    print("sons bike")

class daughter(parent):
  def car(self):
    print("daughters car")


s=son()
d=daughter()
s.house()
s.bike()
d.house()
d.car()

parents house
sons bike
parents house
daughters car

In [ ]:
class person:
  def __init__(self,name):
    self.name=name

class Employee(person):
  def __init__(self,name,salary):
    super().__init__(name)
    self.salary=salary
class job:
  def __init__(self,salary):
    self.salary=salary

class Employeepersonjob(Employee,job):
  def __init__(self, name, salary):
    Employee.__init__(self,name,salary)
    job.__init__(self,salary)

class manager(Employeepersonjob):
  def __init__(self, name, salary,department):
    Employeepersonjob.__init__(self,name,salary)
    self.department=department


class Assistantmanager(Employeepersonjob):
    def __init__(self, name, salary, team_size):
        Employeepersonjob.__init__(self, name, salary)
        self.team_size = team_size

class Seniormanager(manager,Assistantmanager):
    def __init__(self, name, salary, department, team_size):
        manager.__init__(self, name, salary, department)
        Assistantmanager.__init__(self, name, salary, team_size)



emp = Employee("John", 40000)
print(emp.name, emp.salary)


emp2 = Employeepersonjob("Alice", 50000)
print(emp2.name, emp2.salary)

mgr = manager("Bob", 60000, "HR")
print(mgr.name, mgr.salary, mgr.department)

asst_mgr = Assistantmanager("Charlie", 45000, 10)
print(asst_mgr.name, asst_mgr.salary, asst_mgr.team_size)

sen_mgr = Seniormanager("David", 70000, "Finance", 20)
print(sen_mgr.name, sen_mgr.salary, sen_mgr.department, sen_mgr.team_size)

John 40000
Alice 50000
Bob 60000 HR
Charlie 45000 10
David 70000 Finance 20

## SUPER()

In [ ]:
class parent:
  def greet1(self):
    print("Hello from parent..")

class child(parent):
  def greet2(self):
    super().greet1()
    print("Hello from child..")

child=child()
child.greet2()

Hello from parent..
Hello from child..

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor called...")

class child(parent):
  def __init__(self,name,age):
    super(). __init__(name)
    self.age=age
    print("child constructor called..")

child=child("aiswarya",21)

parent constructor called...
child constructor called..

# Ploymorphism

## Method of overriding

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    print("class B")

class C(B):
  def show(self):
    print("class C")

object=C()
object.show()

class C

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    super().show()
    print("class B")

class C(B):
  def show(self):
    super().show()
    print("class C")

object=C()
object.show()

class A
class B
class C

In [ ]:
class Animal:
  def speak(self):
    print("Animal is making sound")

class dog(Animal):
  def speak(self):
    print("dog barks")

class cat(Animal):
  def speak(self):
    print("cat meow")

dog=dog()
cat=cat()

dog.speak()
cat.speak()

dog barks
cat meow

## Method overloading

### Default arguments

In [ ]:
class calculator:
  def add (self,a,b=0,c=0):
    print(a+b+c)


calc=calculator()
# call  the method with different numbers of arguments
calc.add(5)
calc.add(5,10)
calc.add(5,10,20)

5
15
35

### Variable arguments

### positional arguments (*arg)

In [ ]:
class mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum:{total}")

math=mathoperations()

# call the method with n number of arguments using (*args)
math.add(5)
math.add(5,10)
math.add(1,2,3,4)

TypeError: 'int' object is not callable

### keyword arguments (**keyword)

In [ ]:
class greeting:
  def say_hello(self,**kwargs):
    print(f"hello {kwargs['name']} !")
    print(f"you are {kwargs['age']} years old !")
    print(f"you are from {kwargs['city']} !")

g=greeting()
g.say_hello(name="aiswarya",age=21,city="Thrissur")

hello aiswarya !
you are 21 years old !
you are from Thrissur !

# Encapsulation

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

c1=company("TSC",91)
print(c1._company_id)

91

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self.__company_id=company_id

  def get_company_name(self):
    print(self.__company_name)

c1=company("TSC",91)
c1.get_company_name()

TSC

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance =balance
  def deposite(self,amount):
    if amount > 0:
      self.__balance+=amount
      print(f"Deposited {amount}.new balance: {self.__balance}")
    else:
      print("Invalid deposit error")

  def get_balance(self):
    return self.__balance

account=bankaccount("12345",1000)
account.deposite(500)
print(account.get_balance())

Deposited 500.new balance: 1500
1500

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance
  def deposite(self,amount):
    if amount > 0:
      self.__balance+=amount
      print(f"deposited {amount}. new balance: {self.__balance}")
    else:
      print("invalid deposit error")

  def withdrawal(self,amount):
    if amount > 0 :
      if amount <=self.__balance:
        self.__balance-=amount
        print(f"withdrawal {amount} .new balance:{self.__balance}")
      else:
        print("insufficient balance")
    else:
      print("invalid withdrawal error")

account=bankaccount("1234",5000)
account.withdrawal(6000)

insufficient balance

# Abstraction

In [ ]:
from abc import ABC,abstractmethod
class vehicle(ABC): #abstract class

  @abstractmethod
  def start_engine(self):
    pass #abstract method with no implementation

  @abstractmethod
  def stop_engine(self):
    pass # abstract method with no implementation

v=vehicle()

TypeError: Can't instantiate abstract class vehicle with abstract methods start_engine, stop_engine

In [ ]:
from abc import ABC,abstractmethod

class vehicle(ABC):
  @abstractmethod
  def start_engine(self):
    pass

  @abstractmethod
  def stop_engine(self):
    pass

class car(vehicle):
  def start_engine(self):
    print("car engine started")

  def stop_engine(self):
    print("car engine stopped")
car=car()
car.start_engine()
car.stop_engine()

car engine started
car engine stopped

In [ ]:
from abc import ABC,abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass

class circle(shape):
  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"circle area is :{3.14 * (self.radius)**2}")

class Rectangle(shape):
  def __init__(self,width,height):
    self.width=width
    self.height=height

  def calculate_area(self):
    print(f"Rectangle area is : {self.width * self.height}")

cir=circle(10)
rect=Rectangle(5,10)

cir.calculate_area()
print()
rect.calculate_area()

circle area is :314.0

Rectangle area is : 50

# class method

In [ ]:
class car:
  #cls variable
  wheels=4

  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels=new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}.")

# create an instance of car
car1=car("Toyoate","Etios")

# call the class method to modify the class variable
car.change_wheels(6)

print()
#the class variable "wheels" is now changed for all instances
print(f"car variable updated to :{car1.wheels}")

The number of wheels has been updated to 6.

car variable updated to :6

**1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.**

In [ ]:
from abc import ABC,abstractmethod

class Animal(ABC) :
  @abstractmethod
  def make_sound(self):
    pass

class Dog(Animal):
  def make_sound(self):
    print("Dog make bark")

class Cat(Animal):
  def make_sound(self):
    print("cat make meow")

d=Dog()
c=Cat()
d.make_sound()
print()
c.make_sound()

Dog make bark

cat make meow

**2.Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.**

In [ ]:
from abc import ABC,abstractmethod
class Employee:
  @abstractmethod
  def calculate_salary(self):
    pass

class fullTimeEmployee(Employee):
  def __init__(self,salary):
    self.salary=salary

  def calculate_salary(self):
    print(f"salary of full time employee.{self.salary}")

class partTimeEmployee(Employee):
  def __init__(self,salary):
    self.salary=salary

  def calculate_salary(self):
    print(f"salary of part time employee.{self.salary/2}")

f=fullTimeEmployee(5000)
p=partTimeEmployee(5000)

f.calculate_salary()
print()
p.calculate_salary()

salary of full time employee.5000

salary of part time employee.2500.0

**3.Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides.**

In [ ]:
class polygon:
  @abstractmethod
  def number_of_sides(self):
    pass

class Triangle(polygon):
  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f"Number of sides in Triangle.{self.sides}")
class pentagon(polygon):
  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f"Number of sides in pentagon.{self.sides}")

T=Triangle(3)
P=pentagon(5)

T.number_of_sides()
print()
P.number_of_sides()

Number of sides in Triangle.3

Number of sides in pentagon.5

**4.Define a Python class Student with the following private attributes:

  __name to store the student's name.
  __marks to store the student's marks.

2. Implement the following public  getter and setter methods to access and modify these attributes securely:

set_name(name)  A method to set the student's name.
get_name()  A method to retrieve the student's name.
set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative).
get_marks()  A method to retrieve the student's marks.

3. Demonstrate the usage of the class by:

-Create an instance of the Student class.
-Setting the name of the student to "Alice" and print it using the getter method.
-Setting the marks of the student to 95 and print it using the getter method.
-Dont alow negative marks.
**

In [ ]:
class Student:
  def set_name(self,name):
    self.__name=name

  def get_name(self):
    print(self.__name)

  def set_marks(self,marks):
    self.__marks=marks


  def get_marks(self):
    print(self.__marks)


s=Student()
s.set_name("Aiswarya")
s.get_name()
s.set_marks(95)
s.get_marks()

Aiswarya
95

** 5. Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary)  A method to set the employee's salary (Ensure the salary is a positive value).
-get_salary()  A method to retrieve the employee's current salary.
-increase_salary(percentage)  A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class.
-Setting the salary to 50000 and printing it using the getter method.
-Increasing the salary by 10% and printing the updated salary.
-Dont allow negative salary , give warning message
**

In [ ]:
class Employee:

  def set_name(self,name):
    self.__name=name

  def get_name(self,name):
    print("Employee name :",self.__name)

  def set_salary(self,salary):
    self.__salary=salary

  def get_salary(self):
    if self.__salary <0:
      print("negative salary !")
    else:
      print("salary of the employee :",self.__salary)

  def increase_salary(self):
     if self.__salary <0:
      print("can't increase !")
     else:
      self.up_salary = self.__salary + ( self.__salary*(10/100))
      print("updated salary :",self.up_salary)

e=Employee()
e.set_name("Aiswarya")
e.get_name(" ")
e.set_salary(50000)
e.get_salary()
e.increase_salary()

Employee name : Aiswarya
salary of the employee : 50000
updated salary : 55000.0

# File Handling

In [ ]:
data = open("/content/newfile.txt","r")
for i in data:
  print(i)

courses provided it,dm,automation and bms

In [ ]:
data = open("/content/newfile.txt","r")
print(data.read())

courses provided it,dm,automation and bms

In [ ]:
data = open("/content/newfile.txt","w")
data.write("hi ipcs thrissur")
data.close()

In [ ]:
data = open("/content/newfile.txt","r")
for i in data:
  print(i)

hi ipcs thrissur

In [ ]:
data = open("/content/newfile.txt","a")
data.write("courses provided it,dm,automation and bms")
data.close()

In [ ]:
data = open("/content/newfile.txt","r")
for i in data:
  print(i)

hi ipcs thrissurcourses provided it,dm,automation and bms

In [ ]:
with open("/content/file.docx","rb") as file:
  data = file.read()
  print(data)

FileNotFoundError: [Errno 2] No such file or directory: '/content/file.docx'

In [ ]:
data=open("/content/file handling.txt","r")
for i in data:
  print(i)

hello python

In [ ]:
data=open("/content/file handling.txt","r")
print(data.read())

FileNotFoundError: [Errno 2] No such file or directory: '/content/file handling.txt'

In [ ]:
data=open("/content/file handling.txt","w")
data.write("hello python")
data.close()

In [ ]:
data=open("/content/file handling.txt","r")
for i in data:
  print(i)

hello python

In [ ]:
data=open("/content/file handling.txt","a")
data.write("hi ipcs")
data.close()

In [ ]:
data=open("/content/file handling.txt","r")
for i in data:
  print(i)

hello pythonhi ipcs

In [ ]:
data=open("/content/python.txt","w")
data.write(". This is the write command")
data.write(". it allows us to write in a particular file ")
data.close()

In [ ]:
data=open("/content/python.txt","r")
for i in data:
  print(i)

. This is the write command. it allows us to write in a particular file

In [ ]:
data=open("/content/hello.txt","a")
data.write("This will add this line")
data.close()

In [ ]:
data=open("/content/hello.txt","r")
print(data.read())

This will add this line

In [ ]:
file1=open("/content/hello.txt","w")
L=["This is delhi \n","This is paris \n","This is london"]
file1.writelines(L)
file1.close()

In [ ]:
file1=open("/content/hello.txt","r")
print(file1.read())

This is delhi
This is paris
This is london

In [ ]:
file1=open("/content/my file.txt","a")
file1.write("\n")
file1.write("Today")
file1.write("tomorrow")

8

In [ ]:
file1=open("/content/my file.txt","r")
print(file1.read())

Todaytomorrow

In [ ]:
file1=open("/content/my file.txt","r")
print("output of readlines after appending")
print(file1.read())
print()
file1.close()

output of readlines after appending

Todaytomorrow

In [ ]:
L=["This is Delhi\n","This is Paris \n","This is London\n"]
with open("/content/my file.txt","w") as file:
  file.write("Hello \n")
  file.writelines(L)
with open("/content/my file.txt","a")as file:
  file.write("Today")
with open("/content/my file.txt","r+") as file:
  print(file.read())

Hello
This is Delhi
This is Paris
This is London
Today

# Exception Handling

In [ ]:
x=[1,2,3]
x[3]

IndexError: list index out of range

In [ ]:
print(a)

<__main__.Animal object at 0x7e795300e810>

In [ ]:
x={"name":"aiswarya","age":"15","gender":"female"}
y=x.keys("colour")
print(y)

TypeError: dict.keys() takes no arguments (1 given)

In [ ]:
x["colour"]

KeyError: 'colour'

In [ ]:
try:
  x["colour"]
except:
  print("hello")

hello

In [ ]:
a=[1,2,3]
try:
  print("second element=%d" %(a[1]))
  print("fourth element=%d" %(a[3]))
except:
  print("An error occurred")

second element=2
An error occurred

In [ ]:
def fun(a):
  if a<4:
    b=a/(a-3)     #throws zerodivisionerror for a=3
  print("value of b=",b) #throws nameerror if a>=4
try:
  fun(3)
  fun(5)
#note that braces () are necessary here for multiple exceptions
except ZeroDivisionError:
  print("ZeroDivisionError Occurred and Handled ")
except NameError:
  print("NameError Occurred and Handled")

ZeroDivisionError Occurred and Handled

## Else Block

In [ ]:
def AbyB(a,b):
  try:
    c=((a+b)/(a-b))
  except ZeroDivisionError:
    print("a/b result in 0")
  else:
    print(c)

AbyB(2.0,3.0)
AbyB(3.0,3.0)

-5.0
a/b result in 0

## Finally Blocks

In [ ]:
try:
  k=5//0
  print(k)
except ZeroDivisionError:
  print("can't divide by zero")
finally:
  print("This is always executed")

can't divide by zero
This is always executed

## Raising Exception

In [ ]:
try:
  raise NameError("Hi there")
except NameError:
  print("An exception")

An exception

In [ ]:
class MyError(Exception):
  def __init__(self,value):
    self.value=value
  def __str__(self):
    return(repr(self.value))
try:
  raise(MyError(3*2))
except MyError as error:
  print("A New Exception occured:",error.value)

A New Exception occured: 6

** Write a program that takes two numbers as input and divides the first number by the second. Use exception handling to manage a division by zero error.**

In [ ]:
x=int(input("enter the number"))
y=int(input("enter the number"))
try:
  k=x//y
  print(k)
except ZeroDivisionError:
  print("can't divide by zero")
finally:
  print("This is always executed")

enter the number6
enter the number0
can't divide by zero
This is always executed

**Take an input from the user and convert it to an integer. Handle the case where the user enters a non-integer value.**

In [ ]:
try:
  num=int(input("enter the number"))
except ValueError:
  print("this is not a valid number")

enter the number5

**Create a list of 5 items. Ask the user to enter an index and print the item at that index. Handle the case where the index is out of range.**

In [ ]:
mylist = [1, 2, 3, 4, 5]

try:
    num = int(input("Enter an index (0-4): "))
    print("Item at index", num, "is:", mylist[num])

except IndexError:
    print("Error: Index is out of range. Please enter between 0 and 4.")

except ValueError:
    print("Error: Please enter a valid number.")

Enter an index (0-4): 3
Item at index 3 is: 4

**Ask the user to enter a filename and attempt to open it. Handle the exception if the file does not exist.**

In [ ]:
filename = input("Enter the filename: ")

try:
    file = open(filename, "r")
    print("\nFile contents:\n")
    print(file.read())
    file.close()

except FileNotFoundError:
    print("Error: File does not exist. Please check the filename and try again.")

Enter the filename: drtert
Error: File does not exist. Please check the filename and try again.

**Create a dictionary with a few key-value pairs. Ask the user to input a key and print the value. Handle the error if the key does not exist.**

In [ ]:
my_dict ={"brand":"ford","model":"mustang","year":"2005"}

try:
    key = input("Enter a key (brand,ford,model,year): ")
    print("Value:", my_dict[key])

except KeyError:
    print( "Error:The key you entered does not exist in the dictionary.")

Enter a key (brand,ford,model,year): 2004
Error:The key you entered does not exist in the dictionary.

**Write a program that reads a list of numbers from the user (comma-separated) and converts them into integers. Handle errors where the user enters something that is not a number.**

In [ ]:
try:
    user_input =int(input("Enter numbers separated by commas: "))

    numbers = [int(x.strip()) for x in user_input.split(",")]
    print("List of numbers:", numbers)

except ValueError:
    print("Error: Please enter only numbers separated by commas.")

Enter numbers separated by commas: 10,20
List of numbers: [10, 20]

**Take two numbers as input, divide them, and store the result in a file. Handle exceptions like ZeroDivisionError, ValueError, and IOError.**

In [ ]:
try:
  num1=int(input("enter the number"))
  num2=int(input("enter the number"))
  x=num1/num2
  with open ("/content/handle .txt","w") as file:
    file.write(f"Result of {num1} / {num2} = {x}")
    print("Result written to result.txt")
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Please enter only numeric values.")
except IOError:
    print("Error: Could not write to file.")

enter the number20
enter the number10
Result written to result.txt

**Write a program that opens a file (if it exists), reads content, and closes it in the finally block. Ensure the file is always closed even if an error occurs.**

In [ ]:
try:
    filename = input("Enter the filename: ")
    file = open(filename, "r")
    content = file.read()
    print("\nFile Content:\n")
    print(content)

except FileNotFoundError:
    print("Error: The file does not exist.")
except IOError:
    print("Error: Could not read the file.")
finally:
    try:
        file.close()
        print("\nFile closed successfully.")
    except NameError:
       print("NameError Occurred and Handled")

Enter the filename: dgaf
Error: The file does not exist.

File closed successfully.

## Custom **Exceptions**

In [ ]:
class InvalidAgeException(Exception):
  pass
number=18
try:
  input_num=int(input("enter a number: "))
  if input_num < number:
    raise InvalidAgeException
  else:
    print("Eligible to vote")
except InvalidAgeException:
  print("exception occured:Invaild Age")

enter a number: 19
Eligible to vote

# Threading

In [ ]:
import threading
def task():
  print("Thread running")
thread=threading.Thread(target=task)
thread.start()
thread.join()

Thread running

In [ ]:
import threading
def task1():
  print("Task 1")
def task2():
  print("Task 2")

t1=threading.Thread(target=task1)
t2=threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

Task 1
Task 2

In [ ]:
import threading

def print_numbers():
  for i in range(5):
    print(i)

thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download_file(file):
  print(f"downloading{file}...")
  time.sleep(2)
  print(f"{file}downloading.")

files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download_file,args=(f,))for f in files]

for t in threads:
  t.start()
for t in threads:
  t.join()

downloadingfile1.txt...
downloadingfile2.txt...
downloadingfile3.txt...
file1.txtdownloading.
file2.txtdownloading.
file3.txtdownloading.

## Using Threads with Arguments

In [ ]:
import threading
def greet(name):
  print(f"Hello,{name}!")

thread=threading.Thread(target=greet,args=("Alice",))
thread.start()
thread.join()

Hello,Alice!

## Two Threading

In [ ]:
import threading
import time
# function for the chef's work (Thread 1)
def chef_work():
  for i in range(5):            # Chef prepares 5 dishes
    print(f"chef:preparing dish {i+1}...")
    time.sleep(2)             # Simulate time taken to prepare a dish
    if i==2:        # Assistant starts washing utensils during the 3rd dish
      print("chef:calling assistant to wash utensils.")
      time.sleep(1)           # Simulate time taken to call the assistant
      assistant_thread=threading.Thread(target=assistant_work)
      assistant_thread.start()
      assistant_thread.join()     # Wait for the assistant to finish
      print("chef:Assistant done.resuming dish preparation.")
  print("chef:All dishes are prepared")


# Function for the assistant's work (Thread 2)
def assistant_work():
  for j in range(3):      # Assistant washes 3 utensils
    print(f"Assistant: washing utensil {j+1}...")
    time.sleep(2)           # Simulate time taken to wash each utensil
    print("Assistant: All utensils are clean.")

print("kitchen:starting work.")
chef_thread=threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()      # Wait for the chef to complete their work
print("kitchen:All work completed.")

kitchen:starting work.
chef:preparing dish 1...
chef:preparing dish 2...
chef:preparing dish 3...
chef:calling assistant to wash utensils.
Assistant: washing utensil 1...
Assistant: All utensils are clean.
Assistant: washing utensil 2...
Assistant: All utensils are clean.
Assistant: washing utensil 3...
Assistant: All utensils are clean.
chef:Assistant done.resuming dish preparation.
chef:preparing dish 4...
chef:preparing dish 5...
chef:All dishes are prepared
kitchen:All work completed.

## Question

Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second. During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds. Ensure the music playback waits for the lyrics to finish downloading before continuing.

Output

Music Player: Starting music playback. Music Player: Playing music... 1 seconds Music Player: Playing music... 2 seconds Music Player: Playing music... 3 seconds Music Player: Downloading lyrics in the background. Downloading lyrics... 1 seconds Downloading lyrics... 2 seconds Downloading lyrics... 3 seconds Lyrics download completed. Music Player: Lyrics downloaded. Music Player: Playing music... 4 seconds Music Player: Playing music... 5 seconds Music Player: Playback ended

In [ ]:
import threading
import time

def music_player():
  print(f"music player:starting music playback")
  for i in range(5):
    print(f"music player:playing music {i+1}...seconds")
    time.sleep(2)

    if i==2:
      print(f"music player:Downloading lyrics in the background")
      time.sleep(3)
      down_thread= threading.Thread(target=down_lyrics)
      down_thread.start()
      down_thread.join()
      print(f" music player:playback ended")

def down_lyrics():

  for j in range(3):
    print(f"Downloading lyrics... {j+1} seconds.")

music_thread= threading.Thread(target=music_player)
music_thread.start()
music_thread.join()
print(f"lyrics downloading completed..." )

music player:starting music playback
music player:playing music 1...seconds
music player:playing music 2...seconds
music player:playing music 3...seconds
music player:Downloading lyrics in the background
Downloading lyrics... 1 seconds.
Downloading lyrics... 2 seconds.
Downloading lyrics... 3 seconds.
 music player:playback ended
music player:playing music 4...seconds
music player:playing music 5...seconds
lyrics downloading completed...

Simulate video streaming using threads:

Video plays for 8 seconds (printing Playing frame X).

At the 5th second, start a buffering thread (takes 4 seconds).

Video playback must pause until buffering completes, then resume.

In [ ]:
import threading
import time

def video_player():
  print(f"video player:starting the video playback")
  for i in range(8):
    print(f"video player:playing frame {i+1}")
    time.sleep(1)
    if i==4:
      print(f"video player:buffering start")
      time.sleep(1)
      buff_thread=threading.Thread(target=buffering)
      buff_thread.start()
      buff_thread.join()
      print(f"video player:buffering complete,resuming playback.")
def buffering():
    for j in range(4):
        print(f"Buffering... {j+1} seconds")
        time.sleep(1)
video_thread = threading.Thread(target=video_player)
video_thread.start()
video_thread.join()
print("Video Streaming Completed.")

video player:starting the video playback
video player:playing frame 1
video player:playing frame 2
video player:playing frame 3
video player:playing frame 4
video player:playing frame 5
video player:buffering start
Buffering... 1 seconds
Buffering... 2 seconds
Buffering... 3 seconds
Buffering... 4 seconds
video player:buffering complete,resuming playback.
video player:playing frame 6
video player:playing frame 7
video player:playing frame 8
Video Streaming Completed.

Train Journey & Ticket Checking
Write a program to simulate a train journey:

The train runs for 10 seconds (print Train running second X).

At the 6th second, start a thread for ticket checking (3 seconds).

The train journey must wait until ticket checking is done, then continue.

In [ ]:
import threading
import time


def train_journey():
  print(f"train_journey:starting train journey")
  for i in range(10):
    print(f" train_journey:train running second {i+1}")
    time.sleep(1)
    if i==3:
      print(f"train_journey:ticket checking start")
      time.sleep(1)
      tic_thread=threading.Thread(target=ticket_checking)
      tic_thread.start()
      tic_thread.join()
      print(f"train_journey:ticket checking is done,continue")
def ticket_checking():
  for j in range(3):
        print(f"checking... {j+1} seconds")
        time.sleep(1)
train_thread = threading.Thread(target=train_journey)
train_thread.start()
train_thread.join()
print("train journey is completed...")

train_journey:starting train journey
 train_journey:train running second 1
 train_journey:train running second 2
 train_journey:train running second 3
 train_journey:train running second 4
train_journey:ticket checking start
checking... 1 seconds
checking... 2 seconds
checking... 3 seconds
train_journey:ticket checking is done,continue
 train_journey:train running second 5
 train_journey:train running second 6
 train_journey:train running second 7
 train_journey:train running second 8
 train_journey:train running second 9
 train_journey:train running second 10
train journey is completed...

## Regular Expressions(regex)

In [ ]:
import re
text="my number is 123-456-7890."
match=re.search(r"\d{3}-\d{3}-\d{4}",text)
if match:
  print("found:",match.group())

found: 123-456-7890

In [ ]:
import re
text="order 123 costs $45"
print(re.findall(r'\d+',text))

['123', '45']

In [ ]:
Pattern= r'^[\w\.-]+@[\w\.-]+\.\w+$'
print(bool(re.match(Pattern,"test@example.com")))

True

In [ ]:
text="I love cats and dogs"
print(re.sub(r'cats|dogs','animals',text))

I love animals and animals